body, html {
  display: block;
  margin:0;
  padding:0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  display: flex;
  flex: 0;
  flex-direction: row;
}

.menu-item {
  padding: 1em;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1em;
}

.menu-item-selected {
  opacity: 1;
}

.content {
  flex: 1;
  display: flex;
}

.setup-content {
  flex: 1;
  width: 100%;
  overflow: auto;
}

.setup-section {
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;  
}

.setup-form {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  flex-wrap: wrap;
}

.setup-name {
  display: block;
  flex: 0 0 100%;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box;
}

.setup-textarea {
  display: block;
  height: 30vh;
  flex: 0 0 100%;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box;
}

.setup-button {
  padding: 1em;
  display: block;
  cursor: pointer;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-note {
  margin: 0 auto;  
  padding: 1em;
  font-size: 1em;
}

.card-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.card-content-word {
  padding:1em;
  font-size: 2em;
  box-sizing: border-box;
}

.card-content-word-short {
  font-size: 4em;
}

.card-content-variants {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-content-variants-item {
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  box-sizing: border-box;
}

.card-content-variants-item-wrong {
  color: #a00;
}

@media screen and (max-width: 415px) {
  body, html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  body, html {
    font-size: 20px;
  }
  .card-content-word {
    font-size: 4em;
  }
  .card-content-word-short {
    font-size: 6em;
  }
  .menu-item {
    font-size: 0.8em;
  }
  .card-content-variants-item {
    font-size: 1.5em;
  }
    
}